In [1]:
# Add the Panda dependency
import pandas as pd
import os

In [2]:
# File to load
school_data_to_load = os.path.join("Resources","schools_complete.csv")
student_data_to_load = os.path.join("Resources","students_complete.csv")

In [3]:
# Read the school data file and store it in a Pandas DataFrame
school_data_df = pd.read_csv(school_data_to_load)

In [4]:
# Read the student data file and store it in a Pandas DataFrame
student_data_df = pd.read_csv(student_data_to_load)

In [5]:
# Combine the data into a single dataset
school_data_complete_df = pd.merge(student_data_df, school_data_df, on=["school_name","school_name"])
#school_data_complete_df.head()

In [6]:
# Get the total number of students
student_count = school_data_complete_df["Student ID"].count()

In [7]:
# Get the total number of schools
school_count = school_data_df["School ID"].count()    #Other way len(school_data_complete_df["school_name"].unique())

In [8]:
# Calculate the total budget
total_budget = school_data_df["budget"].sum()

In [9]:
# Calculate the average reading score
average_reading_score = school_data_complete_df["reading_score"].mean()

In [10]:
# Calculate the average math score
average_math_score = school_data_complete_df["math_score"].mean()

In [11]:
# Get all the students who are passing reading or math in new DataFrames
passing_reading = school_data_complete_df[school_data_complete_df["reading_score"]>=70]
passing_math = school_data_complete_df[school_data_complete_df["math_score"]>=70]

# Calculating the number of students passing reading or math
passing_reading_count = passing_reading["Student ID"].count()
passing_math_count = passing_math["Student ID"].count()

# Calculating the percentage that passed
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_math_percentaage = passing_math_count / float(student_count) * 100

In [12]:
# Get all the students who passed both reading and math in a new DataFrame
passing_reading_math = school_data_complete_df[
    (school_data_complete_df["reading_score"] >= 70) & (school_data_complete_df["math_score"] >= 70)]

# Calculate the number of students passing both reading and math
overall_passing_count = passing_reading_math["Student ID"].count()

# Calculate the percentage that passed both reading and math
overall_pasing_percentage = overall_passing_count / float(student_count) * 100

In [13]:
# Adding a list of values with keys to create a new DataFrame
district_summary_df = pd.DataFrame([{"Total Schools": school_count,
        "Total Students": student_count,
        "Total Budget": total_budget,
        "Average Math Score": average_math_score,
        "Average Reading Score": average_reading_score,
        "% Passing Math": passing_math_percentaage,
        "% Passing Reading": passing_reading_percentage,
        "% Overall Passing": overall_pasing_percentage}])
#district_summary_df

In [14]:
# Define a function that calculates the percentage of students that passed
# function is called
def passing_percent(pass_count, student_count):
    return pass_count / float(student_count) * 100

# Call the function
passing_percent(passing_math_count,student_count)

74.9808526933878

In [15]:
# Format the columns
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:,.1f}".format)
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:,.1f}".format)
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:,.0f}".format)
district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:,.0f}".format)
district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:,.0f}".format)

In [16]:
# Display the DataFrame
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",79.0,81.9,75,86,65

In [17]:
# Reorder the columns in the order you want them to appear
#new_column_order = ["Total Schools","Total Students","Total Budget","Average Math Score","Average Reading Score","% Passing Math","% Passing Reading","% Overall Passing"]

# Assign district summary df the new column order
#district_summary_df = district_summary_df[new_column_order]
#district_summary_df

In [18]:
# Determine the school type
per_school_types = school_data_df.set_index(["school_name"])["type"]
per_school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [19]:
# Add the per_school_types into a DataFrame for testing
df = pd.DataFrame(per_school_types)
df

                           type
school_name
Huang High School      District
Figueroa High School   District
Shelton High School     Charter
Hernandez High School  District
Griffin High School     Charter
Wilson High School      Charter
Cabrera High School     Charter
Bailey High School     District
Holden High School      Charter
Pena High School        Charter
Wright High School      Charter
Rodriguez High School  District
Johnson High School    District
Ford High School       District
Thomas High School      Charter

In [20]:
# Calculate the total student count by school name from school_data_df
per_school_counts = school_data_df.set_index(["school_name"])["size"]
per_school_counts

school_name
Huang High School        2917
Figueroa High School     2949
Shelton High School      1761
Hernandez High School    4635
Griffin High School      1468
Wilson High School       2283
Cabrera High School      1858
Bailey High School       4976
Holden High School        427
Pena High School          962
Wright High School       1800
Rodriguez High School    3999
Johnson High School      4761
Ford High School         2739
Thomas High School       1635
Name: size, dtype: int64

In [21]:
# Calculate the total student count by school name from student_df
per_school_counts = school_data_complete_df["school_name"].value_counts()
per_school_counts

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [22]:
# Calculate the total school budget
per_school_budget = school_data_df.set_index(["school_name"])["budget"]
per_school_budget

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64

In [23]:
# Calculate the per capita spending
per_school_capita = per_school_budget / per_school_counts
per_school_capita

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [24]:
# Calculate the average test score
per_school_math = school_data_complete_df.groupby(["school_name"]).mean()["math_score"]
per_school_reading = school_data_complete_df.groupby(["school_name"]).mean()["reading_score"]

In [25]:
# Get the passing percentages, we need to:
# 1. Determine what is the passing grade "70"
# 2. Get the number of students who passed math and reading
# 3. Get the students who passed math and passed reading

# Calculate the passing scores by creating a filtered DataFrame
per_school_passing_math = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)]
per_school_passing_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)]

# Calculate the number of students passing math and passing reading by school
per_school_passing_math = per_school_passing_math.groupby(["school_name"]).count()["student_name"]
per_school_passing_reading = per_school_passing_reading.groupby(["school_name"]).count()["student_name"]

In [26]:
# Calculate the percentage of passing math and reading scores per school
per_school_passing_math = per_school_passing_math / per_school_counts * 100
per_school_passing_reading = per_school_passing_reading / per_school_counts * 100

In [27]:
# Calculate the number of students who passed both math and reading by school name
per_passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]

per_passing_math_reading = per_passing_math_reading.groupby(["school_name"]).count()["student_name"]

In [28]:
# Calculate the overall passing percentage
per_overall_passing_percentage = per_passing_math_reading / per_school_counts * 100

In [29]:
# Adding a list of values with keys to create a new DataFrame
per_school_summary_df = pd.DataFrame({
    "School Type":per_school_types,
    "Total Students":per_school_counts,
    "Total School Budget":per_school_budget,
    "Per Student Budget":per_school_capita,
    "Average Math Score":per_school_math,
    "Average Reading Score":per_school_reading,
    "% Passing Math":per_school_passing_math,
    "% Passing Reading":per_school_passing_reading,
    "% Overall Passing":per_overall_passing_percentage
})

In [30]:
# Format the Total School Budget and the Per Student Budget Columns
per_school_summary_df["Total School Budget"] = per_school_summary_df["Total School Budget"].map("${:,.2f}".format)
per_school_summary_df["Per Student Budget"] = per_school_summary_df["Per Student Budget"].map("${:,.2f}".format)

In [31]:
# Sort and show top five schools
top_schools = per_school_summary_df.sort_values(["% Overall Passing"], ascending=False)
top_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541

In [32]:
# Sort and show bottom five schools
bottom_schools = per_school_summary_df.sort_values(["% Overall Passing"], ascending=True)
bottom_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172

In [33]:
# Create a grade level DataFrame
ninth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "9th")]
tenth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "10th")]
eleventh_graders = school_data_complete_df[(school_data_complete_df["grade"] == "11th")]
twelfth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "12th")]

In [34]:
# Group each school series by the school name for the average math score
ninth_grade_math_scores = ninth_graders.groupby(["school_name"]).mean()['math_score']
tenth_grade_math_scores = tenth_graders.groupby(["school_name"]).mean()['math_score']
eleventh_grade_math_scores = eleventh_graders.groupby(["school_name"]).mean()['math_score']
twelfth_grade_math_scores = twelfth_graders.groupby(["school_name"]).mean()['math_score']

In [39]:
# Group each school series by the school name for the average reading score
ninth_grade_reading_scores = ninth_graders.groupby(["school_name"]).mean()["reading_score"]
tenth_grade_reading_scores = tenth_graders.groupby(["school_name"]).mean()["reading_score"]
eleventh_grade_reading_scores = eleventh_graders.groupby(["school_name"]).mean()["reading_score"]
twelfth_grade_reading_scores = twelfth_graders.groupby(["school_name"]).mean()["reading_score"]

In [47]:
# Combine each Series for average math/reading scores by school into single DataFrame
math_scores_by_grade = pd.DataFrame({
    "9th":ninth_grade_math_scores,
    "10th":tenth_grade_math_scores,
    "11th":eleventh_grade_math_scores,
    "12th":twelfth_grade_math_scores
})

# Formath each grade column
for grade in math_scores_by_grade:
    math_scores_by_grade[grade] = math_scores_by_grade[grade].map("{:.1f}".format)

# Make sure the columns are in the correct order
math_scores_by_grade = math_scores_by_grade[["9th","10th","11th","12th"]]

# Remove the index name
math_scores_by_grade.index.name = None
    
reading_scores_by_grade = pd.DataFrame({
    "9th":ninth_grade_reading_scores,
    "10th":tenth_grade_reading_scores,
    "11th":eleventh_grade_reading_scores,
    "12th":twelfth_grade_reading_scores
})

# Formath each grade column
for grade in reading_scores_by_grade:
    reading_scores_by_grade[grade] = reading_scores_by_grade[grade].map("{:.1f}".format)

# Make sure the columns are in the correct order
reading_scores_by_grade = reading_scores_by_grade[["9th","10th","11th","12th"]]

# Remove the index name
reading_scores_by_grade.index.name = None

In [48]:
math_scores_by_grade.head()

                       9th  10th  11th  12th
Bailey High School    77.1  77.0  77.5  76.5
Cabrera High School   83.1  83.2  82.8  83.3
Figueroa High School  76.4  76.5  76.9  77.2
Ford High School      77.4  77.7  76.9  76.2
Griffin High School   82.0  84.2  83.8  83.4

In [49]:
reading_scores_by_grade.head()

                       9th  10th  11th  12th
Bailey High School    81.3  80.9  80.9  80.9
Cabrera High School   83.7  84.3  83.8  84.3
Figueroa High School  81.2  81.4  80.6  81.4
Ford High School      80.6  81.3  80.4  80.7
Griffin High School   83.4  83.7  84.3  84.0

In [52]:
# Get the descriptive statistics foro the per_school_capita
per_school_capita.describe()

count     15.000000
mean     620.066667
std       28.544368
min      578.000000
25%      591.500000
50%      628.000000
75%      641.500000
max      655.000000
dtype: float64

In [59]:
# Cut the per_school_capita into the spending ranges
# Establish the spending bins and group name
group_name = ["<$584","$585-629","$630-644","$645-675"]
spending_bins = [0,585,630,645,675]

#per_school_capita.groupby(pd.cut(per_school_capita, spending_bins)).count()

# Categorize spending based on the bins
per_school_summary_df["Spending Ranges (Per Student)"] = pd.cut(per_school_capita, spending_bins, labels=group_name)
per_school_summary_df.head(2)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283,$585-629
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769,<$584

In [62]:
# Calculate averages for the desited columns
spending_math_scores = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]
spending_reading_scores = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]
spending_passing_math = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]
spending_passing_reading = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]
overall_passing_spending = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]

In [76]:
# Combine into a new DataFrame
spending_summary_df = pd.DataFrame({
    "Ave. Math Score":spending_math_scores,
    "Ave. Reading Score":spending_reading_scores,
    "% Passing Math":spending_passing_math,
    "% Passing Reading":spending_passing_reading,
    "% Overall Passing":overall_passing_spending
})

# Formatting
spending_summary_df["Ave. Math Score"] = spending_summary_df["Ave. Math Score"].map("{:.1f}".format)
spending_summary_df["Ave. Reading Score"] = spending_summary_df["Ave. Reading Score"].map("{:.1f}".format)
spending_summary_df["% Passing Math"] = spending_summary_df["% Passing Math"].map("{:.0f}".format)
spending_summary_df["% Passing Reading"] = spending_summary_df["% Passing Reading"].map("{:.0f}".format)
spending_summary_df["% Overall Passing"] = spending_summary_df["% Overall Passing"].map("{:.0f}".format)

spending_summary_df

,Ave. Math Score,Ave. Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$584,83.5,83.9,93,97,90
$585-629,81.9,83.2,87,93,81
$630-644,78.5,81.6,73,84,63
$645-675,77.0,81.0,66,81,54